name: MLOps Pipeline

on:
  push:
    branches: [ main ]

jobs:
  run-pipeline:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        pip install dvc mlflow

    - name: Configure DVC remote auth
      env:
        DAGSHUB_USER: ${{ secrets.DAGSHUB_USER }}
        DAGSHUB_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}
      run: |
        dvc remote modify origin auth basic
        dvc remote modify origin user "$DAGSHUB_USER"
        dvc remote modify origin password "$DAGSHUB_TOKEN"

    - name: Pull DVC data
      run: dvc pull

    - name: Run pipeline
      run: dvc repro

    - name: Push DVC artifacts
      run: dvc push
